* {
  box-sizing: border-box;
}

.view-port {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0 2% 0 2%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: yellowgreen;
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 5px;
}

li a {
  text-decoration: none;
}

main {
  background-color: whitesmoke;
}

footer {
  background-color: yellowgreen;
  text-align: center;
}